# Exercícios propostos:
 
### 1) Crie um dataframe conforme a seguinte tabela:

 |produto|preco|
 |-------|-----|
 |cadeira| 50  |
 | mesa  | 200 |
 |torneira|15|
 |cama| 800|
 |abajur|90|
 |porta|450|

In [23]:
import pandas as pd

df = pd.DataFrame({"produto": ["cadeira", "mesa", "torneira", "cama", "abajur", "porta"], 
                          "preco": [50, 200, 15, 800, 90, 450]})

df

    produto  preco
0   cadeira     50
1      mesa    200
2  torneira     15
3      cama    800
4    abajur     90
5     porta    450


### 2) Com o dataframe criado, ordene-o em ordem decrescente de preço.

In [11]:
df.sort_values(by=["preco"], ascending=False)

    produto  preco
3      cama    800
5     porta    450
1      mesa    200
4    abajur     90
0   cadeira     50
2  torneira     15


### 3) Adicione ao dataframe o produto "tapete" que tem valor 250.

In [24]:
df.loc[len(df)] = {"produto": "tapete", "preco": 250}
df

    produto  preco
0   cadeira     50
1      mesa    200
2  torneira     15
3      cama    800
4    abajur     90
5     porta    450
6    tapete    250

### 4) Filtre o dataframe para mostrar os produtos com preço menor que 100.

In [28]:
df[df["preco"] < 100]

    produto  preco
0   cadeira     50
2  torneira     15
4    abajur     90


### 5) Salve o dataframe original em um arquivo csv

In [29]:
df.to_csv('dataframeoriginal.csv', index=False)

### 6) Use o pd.read_csv para ler o dataframe salvo anteriormente e adicione a esse dataframe uma coluna "vendas" que representa a quantidade vendida (inicialmente nenhum produto vendido, então o valor será 0 para todas as linhas).

In [31]:
df2 = pd.read_csv('dataframeoriginal.csv')
df2["vendas"] = 0

### 7) Crie o seguinte dataframe:
 
 |produto|qtd_vendida|
 |-------|-----|
 |cadeira| 5  |
 | mesa  | 12 |
 |torneira|65|
 |cama| 51|
 |abajur|12|
 |porta|9|
 
 E faça um merge com o dataframe do exercício 1 para obter o dataframe a seguir:

 |produto| preco |qtd_vendida|
 |-------| ------|-----|
 |cadeira|    50  |5  |
 | mesa  |200 |12 |
 |torneira|15|65|
 |cama| 800|51|
 |abajur|90|12|
 |porta|450|9|

In [34]:
df3 = pd.DataFrame({"produto": ["cadeira", "mesa", "torneira", "cama", "abajur", "porta"], 
                    "qtd_vendida": [5, 12, 65, 51, 12, 9]})
df3

    produto  qtd_vendida
0   cadeira            5
1      mesa           12
2  torneira           65
3      cama           51
4    abajur           12
5     porta            9

In [36]:
df4 = pd.merge(df, df3)
df4

    produto  preco  qtd_vendida
0   cadeira     50            5
1      mesa    200           12
2  torneira     15           65
3      cama    800           51
4    abajur     90           12
5     porta    450            9

### 8) Crie uma coluna no dataframe do exercício anterior que indique a receita total do produto, após isso, calcule a receita total de todos os produtos e crie uma nova coluna indicando qual a porcentagem de cada produto na receita total.

In [38]:
df4["receita"] = df4["qtd_vendida"] * df4["preco"]
receita_total = df4["receita"].sum()
df4["porcentagem_receita"] = (df4["receita"] / receita_total * 100).round(2) #.astype(str) + " %"
print(df4)