### 1) Crie uma conexão com o banco QQ TECH.

In [4]:
connection = "host=172.22.0.99 port=5332 dbname=risco user=u_bots_risco password=PDLbIF513Jt5"

import psycopg2
import pandas as pd

with psycopg2.connect(connection) as conn:
    
    print('Conexão estabelecida')
    # Aqui roda o código com a conexão aberta

Conexão estabelecida

### 2) Com a conexão criada, selecione na tabela tabela_treinamento do banco:
 
#### a) As linhas que correspondem a pessoas de São Paulo

In [ ]:
queryA = ''' SELECT * FROM db_risco.tabela_treinamento 
            WHERE "cidade" = 'São Paulo' '''

with psycopg2.connect(connection) as conn:
    df = pd.read_sql(queryA, conn)
    print(df)


#### b) As linhas que correspondem a pessoas com idade entre 22 e 27 anos

In [14]:
queryB = ''' SELECT * FROM db_risco.tabela_treinamento 
            WHERE "idade" BETWEEN 22 AND 27 '''

with psycopg2.connect(connection) as conn:
    df = pd.read_sql(queryB, conn)
    print(df)

         nome          cpf  idade          cidade
0        João  12345678900     25       São Paulo
1       Maria  99999999900     27  Rio de Janeiro
2       Pedro  13465278811     23           Natal
3       Lucas  13468478511     24        Curitiba
4     Rodrigo  64868848878     23       São Paulo
5       Bruno  19868848878     23       São Paulo
6       Tiago   8581448818     22    Porto Alegre
7      Felipe  12345678999     23  Belo Horizonte
8      Felipe  12345678999     23  Belo Horizonte
9       Lucas  10548957209     25          Recife
10     Felipe  12345678999     23  Belo Horizonte
11    Leticia  87598615589     23       São Paulo
12    Rogério  74658233429     26  Santa Catarina
13     Felipe  12345678999     23  Belo Horizonte
14        aaa       123456     23              SP
15        aaa       123456     23              SP
16        aaa       123456     23              SP
17  teste 123          123     25           TESTE

C:\Users\980183\AppData\Local\Temp\ipykernel_1632\1627297487.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(queryB, conn)


#### c) As cidades das pessoas com o nome Maria

In [16]:
queryC = ''' SELECT "nome", "cidade" FROM db_risco.tabela_treinamento 
            WHERE "nome" ILIKE 'maria%' '''

with psycopg2.connect(connection) as conn:
    df = pd.read_sql(queryC, conn)
    print(df)

    nome          cidade
0  Maria  Rio de Janeiro
1  Maria          Canoas

C:\Users\980183\AppData\Local\Temp\ipykernel_1632\702546663.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(queryC, conn)

### 3) Insira na tabela 2 novas linhas com dados ficticios

In [25]:
query3 = ''' INSERT INTO db_risco.tabela_treinamento 
            (nome, cpf, idade, cidade) 
            VALUES (%s, %s, %s, %s), (%s, %s, %s, %s)'''

values = ("Kaique Govani", "235235353", 20, "Sorocaba",
          "Ricardo Milos", "323232323", 36, "Paris"  )

with psycopg2.connect(connection) as conn:

    with conn.cursor() as cursor: 
        cursor.execute(query3,values)